@use "../../theme/" as *;

$size: 2.5rem;

#container {
    display: flex;
    align-items: center;
    @include themed() {
        color: getThemeColor("text_0");
    }
}

.logo_img {
    width: $size;
    height: $size;
}

p {
    font-size: $size;
    font-weight: 800;
    font-family: Raleway;
    -webkit-font-smoothing: antialiased;
    margin-left: .618rem;
}

p span {
    font-weight: 400;
    font-style: italic;
}